# This is an example of a .env file for the Agrofix backend.
# This file is used to set environment variables for the application.
# Please fill in the values for your environment.
PGHOST=''
PGDATABASE=''
PGUSER=''
PGPASSWORD=''
JWT_SECRET=''
PGPORT='5432'